* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  body {
    background: url(".././wp5542902-react-native-wallpapers.png") fixed no-repeat;
    background-size: cover;
    margin-bottom: 150px;
  }
  
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(127, 162, 196, 0.7);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px 4px;
    max-width: 90%;
    min-width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
  }
  
  button.remove {
    color: white;
    background-color: #f44336;
  }
  
  button:hover {
    filter: brightness(90%);
  }
  
  button.remove:hover {
    background-color: #d32f2f;
  }
  
  h1 {
    text-align: center;
  }
  
  div {
    text-align: center;
    margin: 10px;
  }
  nav {
    height: 50px; /* Adjust the height as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
    display: flex;
    align-items: center;
    justify-content:center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap:20px;
  }
  
  li {
    display: inline;
    margin-right: 20px;
  }
  
  /* Link styles */
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
  }
  
  a:hover {
    color: yellow;
  }
  
  .add-todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 100%;

  }
  
  .add-todo-form input {
    text-align: center;
    width: 260px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .add-todo-form input::placeholder {
    color: #999;
  }
  
  .add-todo-form input:focus {
    border-color: #4a59ba;
    outline: none;
  }
  .toggle{
    width:23% !important;
    height:30%;
  }
  .add-todo-form button.add,
  .toggle {
    width: 50px; 
    padding: 8px 10px; 
    font-size: 14px; 
    font-weight: bold;
    background-color:#75efef;

  }

@media screen and (max-width:280px) and (max-width:653px) {
  .box {
    width:90%;
    margin:10%;
  }
}
  
  @media screen and (max-width: 375px) and (max-height: 667px) {
    .box {
      width:100%;
    }
    
  }
  @media screen and (max-width: 414px) {
    .box {
      position: absolute;
      margin-left: 40px;
      margin-right: 10%;
    }
    .add-todo-form{
      width:20%;
    }
  }
  @media screen and (max-width:430px) {
    .add-todo-form {
      flex-direction: column; 
      align-items: center; 
    }
  
    button.add,
    button.toggle {
      width: 100%; 
      margin-top: 10px;
    }
  }
  
  button.add,
  button.toggle {
    width: 48%; 
  }
  @media screen and (max-width: 665px) {
    .box {
      padding: 10px;
    }
  
    .add-todo-form {
      flex-direction: column;
      align-items: center;
    }
  
    button {
      width: 20%;
      height: auto; 
      max-width: none; 
    }
  }
  
  @media screen and (max-width: 820px) {
    .box {
      align-items: center;
      margin-right: 0;
      padding: 30px;
    }
  }
  
  @media screen and (max-width: 912px) and (max-width:1368px) {
 
    

    
  }
  